HELP.md
target/
**/dependency-reduced-pom.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
core/.env
core/.env.local
core/.datastoreconfig/
connectors/ma-connector/src/main/native/generated
connectors/ma-connector/src/main/native/cmake-*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Python ###
__pycache__/
*.pyc

### Local Developer Workspace ###
.developers/
